DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

PORT=
AQMP_CONNECTION=
JWT_SALT=
OTLP_ENDPOINT=
NODE_ENV=
LOKI_URL=
CLIENT_NAME=
SERVICE_NAME=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_RESOURCE_ATTRIBUTES=

